##############################
## Java
##############################
*.class
*.jar
bin/**/*.md

##############################
## Visual Studio Code
##############################
.vscode/
.code-workspace